<h1 id="conference-publications">Conference Publications</h1>

<p>[2020] H. G. M. Hernandez, S. Mahmood, <b> M. Brandalero</b>, M. Hübner. <i>A Modular Software Library for Effective High Level Synthesis of Convolutional Neural Networks.</i> In: ARC 2020, pp. 211-220. <a href="https://doi.org/10.1007/978-3-030-44534-8_16">[doi]</a></p>

<p>[2019] <b> M. Brandalero</b>, M. S. 0001, L. Carro, A. C. S. Beck. <i>TransRec: Improving Adaptability in Single-ISA Heterogeneous Systems with Transparent and Reconfigurable Acceleration.</i> In: DATE 2019, pp. 582-585. <a href="https://doi.org/10.23919/DATE.2019.8715121">[doi]</a></p>

<p>[2019] D. M. Cardoso, R. B. Tonetto, <b> M. Brandalero</b>, L. Agostini, G. L. Nazar, J. R. Azambuja, A. C. S. Beck. <i>Improving Software-based Techniques for Soft Error Mitigation in OoO Superscalar Processors.</i> In: ICECS 2019, pp. 201-204. <a href="https://doi.org/10.1109/ICECS46596.2019.8964749">[doi]</a></p>

<p>[2019] G. Korol, M. G. Jordan, <b> M. Brandalero</b>, M. B. Rutzig, A. C. S. Beck. <i>Power-Aware Phase Oriented Reconfigurable Architecture.</i> In: ICECS 2019, pp. 626-629. <a href="https://doi.org/10.1109/ICECS46596.2019.8965011">[doi]</a></p>

<p>[2019] G. Korol, M. G. Jordan, R. S. Silva, M. M. Pereira, <b> M. Brandalero</b>, M. B. Rutzig, A. C. S. Beck. <i>A Runtime Power-Aware Phase Predictor for CGRAs.</i> In: ReConFig 2019, pp. 1-8. <a href="https://doi.org/10.1109/ReConFig48160.2019.8994802">[doi]</a></p>

<p>[2019] A. S. B. Lopes, <b> M. Brandalero</b>, A. C. S. Beck, M. M. Pereira. <i>Generating Optimized Multicore Accelerator Architectures.</i> In: SBESC 2019, pp. 1-8. <a href="https://doi.org/10.1109/SBESC49506.2019.9046083">[doi]</a></p>

<p>[2019] R. B. Tonetto, D. M. Cardoso, <b> M. Brandalero</b>, L. Agostini, G. L. Nazar, J. R. Azambuja, A. C. S. Beck. <i>A Knapsack Methodology for Hardware-based DMR Protection against Soft Errors in Superscalar Out-of-Order Processors.</i> In: VLSI-SoC 2019, pp. 287-292. <a href="https://doi.org/10.1109/VLSI-SoC.2019.8920350">[doi]</a></p>

<p>[2018] P. H. E. Becker, A. L. Sartor, <b> M. Brandalero</b>, T. T. Jost, S. Wong, L. Carro, A. C. S. Beck. <i>A Low-Cost BRAM-Based Function Reuse for Configurable Soft-Core Processors in FPGAs.</i> In: ARC 2018, pp. 499-510. <a href="https://doi.org/10.1007/978-3-319-78890-6_40">[doi]</a></p>

<p>[2018] G. F. Oliveira, L. R. Gonçalves, <b> M. Brandalero</b>, A. C. S. Beck, L. Carro. <i>Employing classification-based algorithms for general-purpose approximate computing.</i> In: DAC 2018, pp. 70:1-70:6. <a href="https://doi.org/10.1145/3195970.3196043">[doi]</a><a href="https://doi.org/10.1109/DAC.2018.8465822">[doi]</a></p>

<p>[2018] <b> M. Brandalero</b>, L. Carro, A. C. S. Beck, M. S. 0001. <i>Approximate on-the-fly coarse-grained reconfigurable acceleration for general-purpose applications.</i> In: DAC 2018, pp. 160:1-160:6. <a href="https://doi.org/10.1145/3195970.3195993">[doi]</a><a href="https://doi.org/10.1109/DAC.2018.8465930">[doi]</a></p>

<p>[2018] <b> M. Brandalero</b>, G. M. Malfatti, G. F. Oliveira, L. A. d. Silveira, L. R. Gonçalves, B. C. d. Silva, L. Carro, A. C. S. Beck. <i>Efficient Local Memory Support for Approximate Computing.</i> In: SBESC 2018, pp. 122-129. <a href="https://doi.org/10.1109/SBESC.2018.00026">[doi]</a></p>

<p>[2017] <b> M. Brandalero</b>, A. C. S. Beck. <i>A Mechanism for energy-efficient reuse of decoding and scheduling of x86 instruction streams.</i> In: DATE 2017, pp. 1468-1473. <a href="https://doi.org/10.23919/DATE.2017.7927223">[doi]</a><a href="http://dl.acm.org/citation.cfm?id=3130724">[doi]</a></p>

<p>[2016] L. A. d. Silveira, <b> M. Brandalero</b>, J. D. d. Souza, A. C. S. Beck. <i>The Potential of Accelerating Image-Processing Applications by Using Approximate Function Reuse.</i> In: SBESC 2016, pp. 122-127. <a href="https://doi.org/10.1109/SBESC.2016.026">[doi]</a><a href="http://doi.ieeecomputersociety.org/10.1109/SBESC.2016.026">[doi]</a></p>

<p>[2014] <b> M. Brandalero</b>, A. C. S. Beck. <i>Potential of Using a Reconfigurable System on a Superscalar Core for ILP Improvements.</i> In: SBESC 2014, pp. 43-48. <a href="https://doi.org/10.1109/SBESC.2014.19">[doi]</a><a href="http://doi.ieeecomputersociety.org/10.1109/SBESC.2014.19">[doi]</a></p>

<p>[2013] F. M. Capella, <b> M. Brandalero</b>, J. F. Junior, A. C. S. Beck, L. Carro. <i>A Multiple-ISA Reconfigurable Architecture.</i> In: SBESC 2013, pp. 71-76. <a href="https://doi.org/10.1109/SBESC.2013.23">[doi]</a><a href="http://doi.ieeecomputersociety.org/10.1109/SBESC.2013.23">[doi]</a></p>

<h1 id="journal-publications">Journal Publications</h1>

<p>[2020] M. G. Jordan, <b> M. Brandalero</b>, G. M. Malfatti, G. F. Oliveira, A. F. Lorenzon, B. C. d. S. 0001, L. Carro, M. B. Rutzig, A. C. S. Beck. <i>Data clustering for efficient approximate computing.</i> In: Design Autom. for Emb. Sys., v. 24, p. 3-22, 2020. <a href="https://doi.org/10.1007/s10617-019-09228-z"> [doi] </a></p>

<p>[2020] <b> M. Brandalero</b>, B. N. Lignati, A. C. S. Beck, M. S. 0001, M. Hübner. <i>Proactive Aging Mitigation in CGRAs through Utilization-Aware Allocation.</i> In: CoRR, v. abs/2004.10470, p. None, 2020. <a href="https://arxiv.org/abs/2004.10470"> [doi] </a></p>

<p>[2019] <b> M. Brandalero</b>, T. D. Souto, L. Carro, A. C. S. Beck. <i>Predicting performance in multi-core systems with shared reconfigurable accelerators.</i> In: J. Syst. Archit., v. 98, p. 201-213, 2019. <a href="https://doi.org/10.1016/j.sysarc.2019.07.010"> [doi] </a></p>

<p>[2018] P. H. E. Becker, A. L. Sartor, <b> M. Brandalero</b>, A. C. S. Beck. <i>BRAM-based function reuse for multi-core architectures in FPGAs.</i> In: Microprocess. Microsystems, v. 63, p. 237-248, 2018. <a href="https://doi.org/10.1016/j.micpro.2018.09.007"> [doi] </a></p>

<p>[2018] <b> M. Brandalero</b>, L. A. d. Silveira, J. D. Souza, A. C. S. Beck. <i>Accelerating error-tolerant applications with approximate function reuse.</i> In: Sci. Comput. Program., v. 165, p. 54-67, 2018. <a href="https://doi.org/10.1016/j.scico.2017.05.003"> [doi] </a></p>

<p>[2016] <b> M. Brandalero</b>, A. C. S. Beck. <i>Potential analysis of a superscalar core employing a reconfigurable array for improving instruction-level parallelism.</i> In: Design Autom. for Emb. Sys., v. 20, p. 155-169, 2016. <a href="https://doi.org/10.1007/s10617-016-9174-4"> [doi] </a></p>

<p>[2015] F. M. Capella, <b> M. Brandalero</b>, L. Carro, A. C. S. Beck. <i>A multiple-ISA reconfigurable architecture.</i> In: Design Autom. for Emb. Sys., v. 19, p. 329-344, 2015. <a href="https://doi.org/10.1007/s10617-015-9159-8"> [doi] </a></p>
